body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}

.button:hover,
button:focus {
  background-color: #404bbf;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #4d5ae5;
}

.logo-st-dk {
  color: #2e2f42;
}

.logo-st-lt {
  color: #f4f4fd;
}

.title {
  background-color: #2e2f42;
}

.title-text {
  color: #ffffff;
}

.sec-our-team {
  background-color: #f4f4fd;
}

.nav-links .link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: #404bbf;
}

.adress-link .link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.adress-link .link:hover,
.adress-link .link:focus {
  color: #404bbf;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
}

.title-2 {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.text-h3 {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
}

.address-text {
  font-style: normal;
}

.our-team-el {
  background-color: #ffffff;
}

.our-portf {
  background-color: #ffffff;
}
